[Unit]
Description=Chat PDF v2 Frontend
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=15
User=web
WorkingDirectory=/home/sah-admin/webservices/nodejs/flask/chat-pdf-v2/frontend
ExecStart=/usr/local/bin/npm run serve

[Install]
WantedBy=multi-user.target
