*/.idea/*
*/.idea
.idea

*/venv/*
backend/instance/requests.db

**/*.pyc
**/__pycache__

.env
package-lock.json
frontend/package--lock.json
backend/*.db
.DS_Store

*/node_modules
node_modules

# local .env files
*/.env.local
*/.env.*.local

# Log files
*/npm-debug.log*
*/yarn-debug.log*
*/yarn-error.log*
*/pnpm-debug.log*

# Editor directories and files
*/.vscode
*/*.suo
*/*.ntvs*
*/*.njsproj
*/*.sln
*/*.sw?

.vscode

# docker
*/.dockerignore
*/Dockerfile
Dockerfile

*experimental_backend_aleks/